.Weather {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  margin-top: 100px;
}
.Weather h1 {
  margin: 15px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}
.weather_info {
  display: flex;
  align-items: center;
}
